body{
    font-family: "Montserrat",sans-serif;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Black",sans-serif;
}

/* HEADINGS */

.big-heading{
    font-family: "Montserrat-Black",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:800;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5rem;
    font-weight: bolder;
}


#title{
    background-color: #ff4c68;
    color:#fff;
}







.container-fluid{
    padding:3% 15%;
}

.down-btn{
    margin: 5% 3% 5% 0;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding:0 18px
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";

}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.sec2image{
    color: #EF8172;
    margin-bottom: 1rem;
    /* margin-left: 130px; */
    
}
.sec2image:hover{
    color: #ff4c68;
}

/* FEATURES */


.feature-text-p{
    margin: auto;
   text-align: center;
    /* font-size: small; */
    
    color: #8f8f8f;
    font-weight: bold;
}

.feature-text{
    padding:5%;
    text-align: center;

}

#features{
    padding:7% 10%;
    position: relative;
    z-index: 1;
}

.feature-title{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;

}


/* TESTIMONIAL SECTION */

#testimonials{
    
    text-align: center;
    background-color: #EF8172;
    color: #fff;
}

.carousel-item{
    padding:7% 15%;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width:15%;
    margin:20px 20px 50px;

}


/* PRICING */

#pricing{
    padding: 100px;
}

.pricing-col{
    text-align: center;
   padding:3% 2%;
}


/* CTA Section */

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}


/* FOOTER */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0deg);

    }
}